.app
{
  background-image: linear-gradient(180deg, #93cd614d, 0%, #97e9afc4 20%, #cce0e1d1 75%), url(../src/assets/backmain.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}